ALTUDE_API_KEY=Your_ApiKey
ALTUDE_NETWORK=devnet   

DYNAMIC_ENVIRONMENT_ID=dynamic_ID_here
DYNAMIC_APP_NAME=app name  
DYNAMIC_APP_ORIGIN=http://localhost:8081
DYNAMIC_APP_LOGO=https://demo.dynamic.xyz/favicon-32x32.png